.container {
  padding: 0 1rem;
}
.main {

}
.player{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.1rem;
}
.btns {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  bottom: 1rem;
  left: 0;
}